
module slurmd 1.0;

require {
	type devpts_t;
	type fusefs_t;
	type unconfined_service_t;
	type user_t;
	type var_spool_t;
	class chr_file { ioctl read write };
	class file entrypoint;
	class process { sigchld transition };
	class process2 nosuid_transition;
}

#============= unconfined_service_t ==============

allow unconfined_service_t user_t:process transition;
allow unconfined_service_t user_t:process2 nosuid_transition;

#============= user_t ==============

allow user_t unconfined_service_t:process sigchld;
allow user_t devpts_t:chr_file { ioctl read write };
allow user_t var_spool_t:file entrypoint;
allow user_t fusefs_t:file entrypoint;
