[Unit]
Description=Send slurm jobscripts to userportal
After=network.target

[Service]
User=slurm
Group=slurm
RuntimeDirectory=slurm
WorkingDirectory=/var/spool/slurm
ExecStart=/usr/bin/python3 /opt/software/slurm/bin/slurm_jobscripts.py
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
