module my-mkhomedirhelper 1.0;

require {
	type oddjob_mkhomedir_t;
	type usr_t;
	class file { create setattr write };
	class dir { add_name create setattr write };
}

#============= oddjob_mkhomedir_t ==============

#!!!! This avc is allowed in the current policy
allow oddjob_mkhomedir_t usr_t:dir { add_name create setattr write };

#!!!! This avc is allowed in the current policy
allow oddjob_mkhomedir_t usr_t:file { create setattr write };
