---
profile::base::sudoer_username: "${sudoer_username}"

profile::consul::acl_api_token: "${consul_token}"

profile::freeipa::base::admin_passwd: "${freeipa_passwd}"
profile::freeipa::base::domain_name: "${domain_name}"
profile::freeipa::mokey::passwd: "${freeipa_passwd}"

profile::accounts::guests::passwd: "${guest_passwd}"
profile::accounts::guests::nb_accounts: ${nb_users}

profile::slurm::base::cluster_name: "${cluster_name}"
profile::slurm::base::munge_key: "${munge_key}"
profile::slurm::accounting::password: "${freeipa_passwd}"

profile::freeipa::client::server_ip: "${mgmt1_ip}"
profile::consul::client::server_ip: "${mgmt1_ip}"
profile::nfs::client::server_ip: "${mgmt1_ip}"

profile::nfs::server::home_devices: ${home_dev}
profile::nfs::server::project_devices: ${project_dev}
profile::nfs::server::scratch_devices: ${scratch_dev}

profile::reverse_proxy::domain_name: "${domain_name}"
