---
profile::base::sudoer_username: "${sudoer_username}"

profile::consul::acl_api_token: "${freeipa_passwd}"

profile::freeipa::base::admin_passwd: "${freeipa_passwd}"
profile::freeipa::base::domain_name: "${domain_name}"

profile::freeipa::guest_accounts::guest_passwd: "${guest_passwd}"
profile::freeipa::guest_accounts::nb_accounts: ${nb_users}

profile::slurm::base::cluster_name: "${cluster_name}"
profile::slurm::base::munge_key: "${munge_key}"
profile::slurm::accounting::password: "${freeipa_passwd}"

profile::freeipa::client::server_ip: "${mgmt1_ip}"
profile::consul::client::server_ip: "${mgmt1_ip}"
profile::nfs::client::server_ip: "${mgmt1_ip}"
profile::rsyslog::client::server_ip: "${mgmt1_ip}"
profile::cvmfs::client::squid_ip: "${mgmt1_ip}"
profile::slurm::base::slurmctld_ip: "${mgmt1_ip}"
profile::slurm::base::slurmdbd_ip: "${mgmt1_ip}"

profile::reverse_proxy::domain_name: "${domain_name}"
