[Unit]
Description=Exporter for slurm stats
After=network.target

[Service]
User=slurm
Group=slurm
Type=simple
ExecStart=/opt/prometheus-slurm-exporter --collector.partition --listen-address=":8081"
PIDFile=/var/run/prometheus-slurm-exporter/prometheus-slurm-exporter.pid
KillMode=process
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/opt/puppetlabs/bin:/opt/software/slurm/bin:/root/bin
Restart=always

[Install]
WantedBy=multi-user.target