[Unit]
Before=nfs-server.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/bin/sed "-i ';/export/;d' /etc/fstab"

[Install]
WantedBy=multi-user.target