[Unit]
Description=Create home directory for new IPA users
BindsTo=ipa.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mkhome
ExecStart=/sbin/mkhome.sh

[Install]
WantedBy=multi-user.target
