[Unit]
Description=Create /project directories for IPA users
BindsTo=ipa.service

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mkproject
ExecStart=/sbin/mkproject.sh

[Install]
WantedBy=multi-user.target
