[Unit]
Description=Create /project directories for IPA users
BindsTo=ipa.service

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mkprojectdir_slapd
ExecStart=/sbin/mkprojectdaemon.sh

[Install]
WantedBy=multi-user.target
